<div class="mb-3" id="create-hint">
  <table class="table">
    <thead class="thead-light">
      <tr>
        <th>First</th>
        <th>Last</th>
        <th>Member ID</th>
        <th>Group</th>
        <th>Card Number</th>
        <th>Facility Code</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>John</td>
        <td>Smith</td>
        <td>12345</td>
        <td>Associate Members</td>
        <td>8000</td>
        <td>46</td>
      </tr>
      <tr>
        <td>Jane</td>
        <td>Doe</td>
        <td>54321</td>
        <td>Associate Members</td>
        <td>8001</td>
        <td>46</td>
      </tr>
    </tbody>
  </table>
</div>
